img{
  padding-bottom: 20px;
}

body {
  background-color: black;
}

.white-background {
  background-color: white;
  color: black;
}

.black-background {
  background-color: black;
  color: white;
}

li {
  font-style: italic;
}
